body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #949494;
    margin: 0;
}

.container{
    z-index: 1;
    position: relative;
    text-align: center;
}
.game{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 6px;
    margin-bottom: 30px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #bbb9b9;
    transition: .4s all;
    background-color: #bdd2df;
    cursor: pointer;
}
.box:first-child{
    border-top-left-radius: 10px;
}
.box:nth-child(3){
    border-top-right-radius: 10px;
}
.box:nth-child(7){
    border-bottom-left-radius: 10px;
}
.box:nth-child(9){
    border-bottom-right-radius: 10px;
}

.ball{
    height: 60px;
    width: 60px;
    background-color: transparent;
    border: 4px solid #1b85b6;
    border-radius: 50%;
}

.x {
    position: relative;
    height: 64px; 
    width: 64px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.x::before,
.x::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px; 
    background-color: #c01f1f;
    transition: .4s all;
}

.x::before {
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}

.win{
    transform: scale(.98);
}

.win.blue{
    background-color: #a2d8f1;
    border: #a2d8f1;
}

.win.red{
    background-color: #f06969;
    border: #f06969;
}

.popup_box{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-color: #0000008f;
    align-items: center;
    justify-content: center;
    opacity: 0;
    display: none;
}
.popup{
    position: relative;
    width: 400px;
    background-color: aliceblue;
    border-radius: 10px;
}
header{
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}
.body{
    width: 250px;
    margin: auto;
}
label{
    display: block;
    margin: 10px 0px;
}
input{
    display: block;
    height: 30px;
    width: 250px;
}
button{
    height: 40px;
    width: 150px;
    font-size: 16px;
    background-color: #84c6ec;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
}
.startButton{
    margin: 50px auto;
}
.newGame{
    opacity: 0;
    display: block !important;
    margin: 20px auto 0;
}
.show{
    opacity: 1;
    display: flex;
    z-index: 2;
}

@media (min-device-width: 200px) and (max-device-width: 800px) {
    .popup{
        width: calc(100vw - 55px);
    }
}